<!DOCTYPE html>
<html lang="en">

  <head>

    {{> head}}

    {{ghost_head}}
  </head>

  <body>

    {{> nav_bar}}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- GhostBlogHomePage -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5218657167859016"
     data-ad-slot="5793914145"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

    {{> header_home}}
    {{> header_post_page}}

    {{{body}}}

    {{> footer}}

    {{ghost_foot}}
  </body>
</html>
