{{!< default}}

{{#is "index"}}
<header class="header-section ">
  <div class="intro-header no-img">
    <div class="container">
      <div class="row">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- GhostBlogHomePage -->
      <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5218657167859016"
         data-ad-slot="5793914145"
         data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="page-heading">
            <h1>{{@blog.title}}</h1>
            <hr class="small">
            <span class="page-subheading">{{@blog.description}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{{/is}}
